<h1>Labware Details</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
    <td width="100", class="info">Labware Name</td> <td><%= @labware.name %></td>
    </tr>
    <tr>
    <td width="100", class="info">Description</td> <td><%= @labware.description %></td>
    </tr>
    <tr>
    <td width="100", class="info">Quantity</td> <td><%= @labware.quantity %></td>
    </tr>
    <tr>
    <td width="100", class="info">Labware Code</td> <td><%= @labware.code %></td>
    </tr>
  </tbody>
</table>